wandb/
__pycache__/
*.pyc
results/
output/
**/.env
.vscode
**/.env
.vscode
config_sj*.json
train_sj.sh
config_dj.json
config.json
train_dj.sh
baseline/
data/
train_result/
LV1/
sojeong_code/
jeongseon_code/
.env
train.sh
baseline_model/


*.png
*.jpeg
*.pt
*.csv
tta_check.ipynb

run_scripts
result
config_dj*.json