wandb/
__pycache__/
*.pyc
results/
output/
**/.env
.vscode
**/.env
.vscode
config_sj.json
train_sj.sh
config_dj.json
train_dj.sh
baseline/
data/
train_result/
Lv1/
sojeong_code/
*.png
*.jpeg

run_scripts
result
config_dj*.json
exp*.json
*.pt